<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <table border=1 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Value</th>
                <th>Ship Date</th>
                <th>Slug</th>
            </tr>
            {% for obj in object_list_2 %}
            <tr>
                <td>{{ obj.agency_name }}</td>
                <td>{{ obj.item_name }}</td>
                <td>{{ obj.quantity }}</td>
                <td>{{ obj.acquisition_value }}</td>
                <td>{{ obj.ship_date }}</td>
                <td> {{obj.slug }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
