<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>{{object.agency_name}}</h1>
        <table border=1 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Value</th>
                <th>Ship Date</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ object.agency_name }}</td>
                <td>{{ object.item_name }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.acquisition_value }}</td>
                <td>{{ object.ship_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
