<!doctype html>
<html lang="en">
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../static/style.css" />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
       <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTabl   es.bootstrap5.css"> -->
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>



            <div class="hed">
              <br>
        <h1>Military weapons in your local Maryland police department</h1>


        <div class="byline">
                By Greg Morton and Rina Torchinsky
                  </div>


    </div>
    <div class ="story">
      <div class="col-md-6 offset-md-3">
<p>Since 1994, law enforcement agencies in Maryland have acquired more than 8,000 items from the U.S Department of Defense.  Among these acquisitions are thousands of rifles and handguns, swaths of expensive tactical gear, a handful of armored anti-mine vehicles, and even three observation helicopters.</p>

<p>Though the total value of these acquisitions, according to the DoD, is over $7 million, Maryland law enforcement agencies, along with law enforcement agencies across the country, have been able to get their hands on these instruments of war at virtually no cost.</p>

<p>The free flow of surplus equipment from the defense department to cities and towns across America is facilitated mostly through the federal 1033 Program.  1033, also known as the Law Enforcement Support Office program, connects police departments with the DoD through the Defense Logistics Agency, the arm of the DoD responsible for acquiring and accounting for military gear.  Police departments are only responsible for paying the cost of shipping the items.
Over its lifespan, the program has distributed over $5 billion in surplus military gear to police departments nationwide.</p>

<p>Implemented under President Bill Clinton’s administration over the course of several national defense bills, 1033 has been heavily criticized for contributing to increased police militarization.</p>

<p>(Quote TK)</p>

<p>The federal government began to consider the possibility of transferring mass amounts of military weapons and equipment to law enforcement in the early 1990’s against a backdrop of increasing crime and an escalating ‘war on drugs’.</p>

<p>The National Defense Authorization Act of 1990, passed as the crime rate was near its zenith, allowed the transfer of equipment from military to law enforcement specifically in the context of persecuting the drug war.  The program, originally called 1208 because it was established in section 1208 of the bill, only authorized transfers "for use in counter-drug activities".</p>

<p>Maryland law enforcement agencies, including the State Police and Prince George’s County Police, took advantage of the opportunity, collectively acquiring over four dozen rifles through 1208 before its expansion later in the 1990’s.</p>

<p>Deemed a success by lawmakers and law enforcement agencies, the 1208 program was expanded by the Defense Authorization Act for Fiscal Year 1997 into what we know today as the 1033 program.  The update allowed for broader adoption of the program and removed the limitations on use of the acquired items.</p>

<p>Even with easier access to military surplus equipment, Maryland law enforcement agencies were initially slow to adopt 1033.  In 1997 Maryland law enforcement agencies made a total of only 6 acquisitions through the program.  It didn’t take very long for the pace of acquisition to speed up considerably.  In 1999 Maryland law enforcement agencies obtained over 80 items through the program.  Since 2000, the Maryland law enforcement agencies have acquired an average of around 75 items per year through 1033, peaking at 295 acquisitions in 2013.  In about half of all years since the beginning of the program, some kind of gun has been the most popular item among all Maryland agencies.</p>

<p>(Quote TK)</p>

<p>1033 began to come under fire in the mid 2010’s as a national reckoning with the societal consequences of the war on drugs dampened enthusiasm for police militarization among both citizens and lawmakers.</p>

<p>The publication of 1033 records in 2014 forced many to come to grips with the sheer volume of equipment that has been obtained through the program.</p>

<p>(Quote TK)</p>

<p>Among the most troubling aspects of the realizations provided by the publication of 1033 records is how much equipment has gone to educational institutions.  As of today, universitie police departments in Maryland are still in possession of more than a dozen rifles, shotguns, and handguns acquired through the program.</p>

<p>After coming under scrutiny, University of Maryland, College Park, divested from the program in 2020, returning all the items the university’s police department had acquired through the program up until that point.</p>

<p>(Quote TK)</p>

<p>The reexamination of policing in America has slowed the pace of 1033 acquisitions in Maryland substantially since 2014.  In subsequent years, police have acquired far fewer items and gun acquisition in particular has decreased substantially.</p>

<p>Maryland hasn’t dispensed with the program entirely however.  The most notable 1033 acquisitions since the 2020 COVID-19 Pandemic has been thousands of bottles of hand sanitizer meant to help departments combat the virus, which has been especially deadly for police officers.</p>


</div>
</div>
<br>

        <table id="example" class="display" style="width:100%">
          <thead>
            <tr>
                <th>Agency Name</th>
                <th>Total Items</th>
                <th>Total Acquisition Value</th>
                <th>Most Acquired Item</th>
                <th>First Acquisition</th>
                <th>Last Acquisition</th>
           </tr>

            <tbody>
            {% for obj in object_list %}

            <tr>
                <td><a href="{{ obj.slug }}/">{{ obj.agency_name|title }}</a></td>
                <td>{{ obj.total_items }}</td>
                <td>{{ obj.total_acquisition_value|currencyFormat }}</td>
                <td>{{ obj.most_acquired_item }}</td>
                <td>{{ obj.first_acquisition_date }}</td>
                <td>{{ obj.last_acquisition_date }}</td>
            </tr>
            {% endfor %}
          </thead>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
       <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> -->
       <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
$('#example').DataTable();
} );
             </script>
           </div>
           </div>
         </body>
     </html>
