<!doctype html>
<html lang="en">
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="../static/style.css" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
       <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTabl   es.bootstrap5.css"> -->
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="index-topper">
        <h1>Military weapons and equipment in Maryland police departments, acquired through the federal 1033 Program</h1>
        <div class="byline">
                By Greg Morton and Rina Torchinsky
        <br><br>
      </div>
    </div>
        <table id="example" class="display" style="width:100%">
          <thead>
            <tr>
                <th>Agency Name</th>
                <th>Total Items</th>
                <th>Total Acquisition Value</th>
                <th>Most Acquired Item</th>
                <th>First Acquisition</th>
                <th>Last Acquisition</th>
           </tr>

            {% for obj in object_list %}

            <tr>
                <td><a href="{{ obj.slug }}/">{{ obj.agency_name }}</a></td>
                <td>{{ obj.total_items }}</td>
                <td>{{ obj.total_acquisition_value|currencyFormat }}</td>
                <td>{{ obj.most_acquired_item }}</td>
                <td>{{ obj.first_acquisition }}</td>
                <td>{{ obj.last_acquisition }}</td>
            </tr>
            {% endfor %}
</thead>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
       <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> -->
       <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
$('#example').DataTable();
} );
             </script>
         </body>
     </html>
